*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
**/__pycache__/*
*user
*~
**/Makefile
**/.debug
saved/**
*.tar.gz
*.zip
*.7z
*.dat
/.project
**/consegne/*
**/media/*
**/CACHEDIR.TAG
**/manuals/*
**/flags/*
Oksysnet/*/migrations/*
**/migrations/*
**/export/*
docs/language*
docs/templates/**
docs/Offerta*
**/vdev/*
**/env/*

.vscode
db.sqlite3
DjangoREST/__pycache__/settings.cpython-38.pyc
